<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <title>CCTV</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import libraries -->
    <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
  </head>

  <section class="hero is-fullheight">
    <input
      class="button is-danger"
      type="button"
      id="exit"
      name="exit"
      value="Exit"
    />

    <div class="hero-body has-text-centered">
      <div class="container is-max-desktop">
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <h1>Set Up Your CCTV ID</h1>

            <p>Enter CCTV ID</p>
            <input
              class="input is-fullwidth"
              type="text"
              id="set-id"
              placeholder="Enter any CCTV ID"
            />

            <input
              class="button is-primary is-responsive is-fullwidth"
              type="submit"
              id="set"
              name="cctv-id"
              value="Set"
            /><br />

            <div style="color: #000000" id="messages"></div>
            <audio
              id="audio"
              src="https://cdn.glitch.global/badd33af-62bd-4fb7-8d82-187601d1d242/Quack%20Sound%20Effect.mp3?v=1648570499032"
            ></audio>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="module">
    // This is to allow using the Peer API
    let Peer = window.Peer;

    set.addEventListener("click", (e) => {
      var customId = document.getElementById("set-id").value;

      let logMessage = function (message) {
        document.getElementById("messages").innerHTML = message;
      };

      let call;

      let peer = new Peer(customId, {
        host: "/",
        path: "/peerjs/myapp",
      });

      peer.on("open", (id) => {
        logMessage("My peer ID is: " + id);
      });
      peer.on("error", (error) => {
        console.error(error);
      });

      // Handle incoming data connection
      peer.on("connection", (conn) => {
        logMessage("Incoming peer connection!");

        conn.on("data", (data) => {
          logMessage(`Received: ${data}`);
          if (data == "play-sound") {
            var audio = document.getElementById("audio");
            audio.play();
          }
        });
        conn.on("open", () => {
          conn.send("Connected!");
        });

        // listen to the conn.on("close") here.
        conn.on("close", () => {
          call.close();
          logMessage("Disconnected");
        });
      });

      // Handle incoming voice/video connection
      peer.on("call", (event) => {
        call = event;
        navigator.mediaDevices
          .getUserMedia({
            video: {
              facingMode: "environment",
              width: { min: 640 },
              height: { min: 480 },
              frameRate: { min: 30 },
            },
            audio: true,
          })
          .then((stream) => {
            call.answer(stream); // Answer the call with an A/V stream.
          })
          .catch((err) => {
            console.error("Failed to get local stream", err);
          });
      });

      exit.addEventListener("click", (e) => {
        location.href = "/home";
      });
    });
  </script>
</html>
