<!DOCTYPE html>
<html lang="en">
  <head>
    <link id="favicon" rel="icon" href="https://cdn.glitch.global/badd33af-62bd-4fb7-8d82-187601d1d242/logo.jpg?v=1647716057183" type="image/x-icon">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <title>LOGIN</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <section class="hero is-fullheight">
    <input
      class="button is-danger"
      type="button"
      id="exit"
      name="exit"
      value="Exit"
    />

    <div class="hero-body has-text-centered">
      <div class="container is-max-desktop">
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <h1>LOGIN</h1>

            <img
              src="https://cdn.glitch.global/badd33af-62bd-4fb7-8d82-187601d1d242/logo.jpg?v=1647716057183"
            />
            <h2>WELCOME</h2>

            <p>E-mail</p>
            <input
              class="input is-fullwidth"
              type="text"
              id="email"
              name="email"
              placeholder="Enter an E-mail"
            />
            <p>Password</p>
            <input
              class="input is-fullwidth"
              type="password"
              id="password"
              name="password"
              placeholder="Enter a Password"
            />

            <input
              class="button is-primary is-responsive is-fullwidth"
              type="submit"
              id="login"
              name="login_submit"
              value="Login"
            /><br />

            <a class="has-text-link" href="/register"
              >Don't Have An Account? Register Here</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js";
    import {
      getDatabase,
      set,
      ref,
      update,
    } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-database.js";
    import {
      getAuth,
      createUserWithEmailAndPassword,
      signInWithEmailAndPassword,
      onAuthStateChanged,
    } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyCA9JIebv1y1A_-7DaNPwZykXloxDmvqAM",
      authDomain: "fyp-video-connection.firebaseapp.com",
      databaseURL:
        "https://fyp-video-connection-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "fyp-video-connection",
      storageBucket: "fyp-video-connection.appspot.com",
      messagingSenderId: "407561155244",
      appId: "1:407561155244:web:68c55c49b956b590076509",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const auth = getAuth();

    login.addEventListener("click", (e) => {
      var Email = document.getElementById("email").value;
      var Password = document.getElementById("password").value;

      signInWithEmailAndPassword(auth, Email, Password)
        .then((userCredential) => {
          // Signed in

          const user = userCredential.user;

          location.href = "/connection";
          alert("User Logged in!");
        })
        .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;

          alert(errorMessage);
        });
    });

    exit.addEventListener("click", (e) => {
      location.href = "/home";
    });
  </script>
</html>
