<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    
    <!-- This do not looks correct. your src should be inside the <script  src='...'>  not outside. See how you do this in video-connected.html -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    
    <title>Register</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <section class="hero is-fullheight">
    <input
      class="button is-danger"
      type="button"
      id="exit"
      name="exit"
      value="Exit"
    />
    <div class="hero-body has-text-centered">
      <div class="container is-max-desktop">
        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">
            <h1>REGISTER</h1>

            <img
              src="https://cdn.glitch.global/badd33af-62bd-4fb7-8d82-187601d1d242/logo.jpg?v=1647716057183"
            />

            <h2>WELCOME</h2>
            <p>Username</p>
            <input
              class="input is-fullwidth"
              type="text"
              id="username"
              name="username"
              placeholder="Enter an Username"
            />
            <p>E-mail</p>
            <input
              class="input is-fullwidth"
              type="text"
              id="email"
              name="email"
              placeholder="Enter an E-mail"
            />
            <p>Password</p>
            <input
              class="input is-fullwidth"
              type="password"
              id="password"
              name="password"
              placeholder="Enter a Password"
            />
            <p>Pin</p>
            <input
              class="input is-fullwidth"
              type="password"
              id="pin"
              name="pin"
              placeholder="Enter a Pin"
            />
            <input
              class="button is-primary is-responsive is-fullwidth"
              type="submit"
              id="signUp"
              name="signup_submit"
              value="Register"
            /><br />

            <a class="has-text-link" href="/login"
              >Already have an account? Login Here</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js";
    import {
      getDatabase,
      set,
      ref,
    } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-database.js";
    import {
      getAuth,
      createUserWithEmailAndPassword,
    } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyCA9JIebv1y1A_-7DaNPwZykXloxDmvqAM",
      authDomain: "fyp-video-connection.firebaseapp.com",
      databaseURL:
        "https://fyp-video-connection-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "fyp-video-connection",
      storageBucket: "fyp-video-connection.appspot.com",
      messagingSenderId: "407561155244",
      appId: "1:407561155244:web:68c55c49b956b590076509",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const auth = getAuth();

    signUp.addEventListener("click", (e) => {
      var Email = document.getElementById("email").value;
      var Password = document.getElementById("password").value;
      var Username = document.getElementById("username").value;
      var Pin = document.getElementById("pin").value;

      createUserWithEmailAndPassword(auth, Email, Password)
        .then((userCredential) => {
          // Signed in
          const user = userCredential.user;

          //location.href = "/connection";

          set(ref(database, "users/" + user.uid), {
            username: Username,
            email: Email,
            pin: encpin()
          });

          alert("User Added Succesfully!");
          // ...
        })
        .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;

          alert(errorMessage);
          // ..
        });
    });
    
    function encpin(){
      var pin12 = CryptoJS.AES.encrypt(Pin.value,Pin.value);
      return pin12.toString();
    }

    exit.addEventListener("click", (e) => {
      location.href = "/home";
    });
  </script>
</html>
