<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <title>Connected</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import libraries -->
    <script src="/lib/peerjs.js"></script>
  </head>

  <section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
      <div>
        

            <div class="container is-primary is-max-desktop is-fluid">

              <video id="vid" class="remote-video" autoplay></video>
            </div>
 

            <input
              class="button is-primary is-responsive"
              type="button"
              id="sound"
              value="Alarm"
            />
            <input
              class="button is-danger is-responsive"
              type="button"
              id="disconnect"
              onclick="disconnect()"
              value="Disconnect"
            />

      </div>
    </div>
  </section>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js";
    import { getDatabase, set, ref, child, get } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-database.js";
    import { getAuth, createUserWithEmailAndPassword, signOut,onAuthStateChanged} from "https://www.gstatic.com/firebasejs/9.6.7/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyCA9JIebv1y1A_-7DaNPwZykXloxDmvqAM",
      authDomain: "fyp-video-connection.firebaseapp.com",
      databaseURL:
        "https://fyp-video-connection-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "fyp-video-connection",
      storageBucket: "fyp-video-connection.appspot.com",
      messagingSenderId: "407561155244",
      appId: "1:407561155244:web:68c55c49b956b590076509",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const auth = getAuth();
    const user = auth.currentUser;

    onAuthStateChanged(auth, (user) => {
  if (user) {
    // User is signed in, see docs for a list of available properties
    // https://firebase.google.com/docs/reference/js/firebase.User
    const uid = user.uid;
        // This is to allow using the Peer API
    let Peer = window.Peer;

    const peerId = sessionStorage.getItem("peerid");
    const videoEl = document.getElementById("vid");

    let renderVideo = (stream) => {
      videoEl.srcObject = stream;
    };

    //register peer
    let peer = new Peer("909090-connect", {
      host: "/",
      path: "/peerjs/myapp",
    });
    peer.on("open", (id) => {
      console.log("My peer ID is: " + id);
      console.log(`Connecting to ${peerId}...`);

      let conn = peer.connect(peerId);
      conn.on("data", (data) => {
        console.log(`Received: ${data}`);
      });

      navigator.mediaDevices
        .getUserMedia({ video: {
        facingMode: 'environment'}, audio: true })
        .then((stream) => {
          let call = peer.call(peerId, stream);
          call.on("stream", renderVideo);
        })
        .catch((err) => {
          console.log("Failed to get local stream", err);
        });
      conn.on("open", () => {
        conn.send("Running..");
      });
    });
    peer.on("error", (error) => {
      console.error(error);
    });

    /*
    function disconnect() {
      peer.on("disconnected", () => {
        conn.send("Disconnected");
        peer.destroy();
        navigator.mediaDevices.close();
      });
    }*/

    
  } else {
    // User is signed out
    location.href="/login";
  }
});

  </script>
</html>
