/*login.html*/

#login-box {
    position: absolute;
    margin: auto;
    width: 280px;
    height: 510px;
    background: rgb(120, 235, 255);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

h1 {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
  }

img {
    margin: auto;
    margin-left: 80px;
    width: 120px;
    height: 60px;
}

h2 {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 15px;
}

a1 {
    margin: auto;
    text-align: center;
    font-size: 12px;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 4px;
    width: 180px;
    height: 32px;
    border: 10px;
    border-bottom: 1px solid #AAAAAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

/*Connection.html*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

form {
  background-color: #eeeeee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input[type="submit"] {
    margin-left: 50px;
    margin-top: 28px;
    padding: 4px;
    width: 180px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

#connect-box {
    position: absolute;
    margin-top: 200px;
    margin-left: 470px;
    width: 600px;
    height: 350px;
    background: rgb(120, 235, 255);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

p1 {
    margin: 100px;
    text-align: center;
    font-size: 12px;
}

input[type="text1"]{
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 4px;
    width: 400px;
    height: 32px;
    border: 10px;
    border-bottom: 1px solid #AAAAAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text1"]:focus{
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

button[id="connect"]{
    margin-left: 200px;
    margin-top: 28px;
    padding: 4px;
    width: 180px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.1s ease;
    cursor: pointer;
}

button[id="connect"]:hover,
button[id="connect"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

/*logout*/

input[type="button"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 32px;
    background: #ff3d3d;
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.1s ease;
    cursor: pointer;
}


input[type="button"]:hover,
input[type="button"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

a:link {
  margin-left: -90px;
  color: blue;
  background-color: transparent;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}





