.hero.is-fullheight {
  background-image: url(https://cdn.glitch.global/badd33af-62bd-4fb7-8d82-187601d1d242/3338813.jpg?v=1647716056266);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*login.html*/

.container.is-max-desktop {
  background: rgb(120, 235, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h1 {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: #000000;
}

img {
  margin: auto;
  width: 120px;
  height: 60px;
}

h2 {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 15px;
  color: #000000;
}

p {
  margin: auto;
  font-size: 12px;
  color: #000000;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 4px;
  padding: 4px;
  width: 180px;
  height: 32px;
  border: 10px;
  border-bottom: 1px solid #aaaaaa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  padding: 4px;
  width: auto;
  height: auto;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

a:link {
  background-color: transparent;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/*Connection.html*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

form {
  background-color: #eeeeee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input[type="text1"] {
  display: block;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 4px;
  padding: 4px;
  width: 500px;
  height: 32px;
  border: 10px;
  border-bottom: 1px solid #aaaaaa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text1"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[id="connect"],
input[id="change"] {
  padding: 4px;
  margin-top: 28px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.1s ease;
  cursor: pointer;
}

input[id="connect"]:hover,
input[id="connect"]:focus,
input[id="change"]:hover,
input[id="change"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

/*logout*/

input[type="button"] {
  width: 150px;
  height: 32px;
  background: #ff3d3d;
  border: none;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="button"]:hover,
input[type="button"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
